<h2>Birdies</h2>
<div>
  <label for="new-bird">Bird name: </label>
  <input type="text" id="new-bird" #birdName />

  <button
    type="button"
    class="add-button"
    (click)="add(birdName.value); birdName.value = ''"
  >
    Add bird
  </button>
</div>
<ul class="birds">
  <li *ngFor="let bird of birds">
    <a routerLink="/detail/{{ bird.id }}">
      <span class="badge">{{ bird.id }}</span> {{ bird.name }}
    </a>
    <button
      type="button"
      class="delete"
      title="delete bird"
      (click)="delete(bird)"
    >
      x
    </button>
  </li>
</ul>
